{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Velkommen til BankApp, {{ customer.first_name }} {{ customer.last_name }}!</h1>
    <p class="text-center">Velg en handling fra listen under:</p>
    
    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-piggy-bank"></i> Innskudd til konto</h5>
                    <p class="card-text">Legg til penger til kontoen din enkelt.</p>
                    <a href="{% url 'deposit' %}" class="btn btn-primary">Gjør innskudd</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-money-bill-wave"></i> Uttak fra konto</h5>
                    <p class="card-text">Ta ut penger fra kontoen din.</p>
                    <a href="{% url 'withdraw' %}" class="btn btn-warning">Gjør uttak</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-wallet"></i>Se kontooversikt</h5>
                    <p class="card-text">Få en oppdatert oversikt over kontoen(e) dine.</p>
                    <a href="{% url 'check_balance' %}" class="btn btn-success">Kontooversikt</a>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row mt-3">
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Endre Kontoinnstillinger</h5>
                    <p class="card-text">Hold informasjonen din oppdatert.</p>
                    <a href="{% url 'account_settings' %}" class="btn btn-info">Innstillinger</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Overfør penger</h5>
                    <p class="card-text">Send penger til andre kontoer.</p>
                    <a href="{% url 'transfer' %}" class="btn btn-danger">Overfør penger</a>
                </div>
            </div>
        </div>
    </div>

    

    <!-- Transaksjoner -->
    <div class="col-lg-12 mb-4">
        <div class="card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Siste transaksjoner</h5>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Dato</th>
                            <th>Konto</th>
                            <th>Transaksjonstype</th>
                            <th>Beløp</th>
                            <th>Saldo etter transaksjon</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.timestamp }}</td>
                            <td>{{ transaction.account.account_number }}</td>
                            <td>{{ transaction.get_transaction_type_display }}</td>
                            <td>{{ transaction.amount }} NOK</td>
                            <td>{{ transaction.balance_after }} NOK</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">Ingen transaksjoner tilgjengelig</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <a href="{% url 'transactions' %}" class="btn btn-info">Vis alle transaksjoner</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
